body {
  margin: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
}

.reactman-game {
  position: relative;
  margin-top: 10px;
}

.square {
  position: absolute;
  background: lightgray;
}

.square.wall {
  background: darkgrey;
}

.square.pacman {
  background: purple;
}